{% extends "layout.html" %}

{% block body %}
    <div class="container col-md-6">
        <h1 class="h3 mb-3">Editar contraseña</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {% if message == 'Las contraseñas no coinciden' %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% else %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="card">
            <div class="card-body">
                <form id="form_edit_password" class="needs-validation" action="/editar_pass" method="POST"
                      novalidate>
                    <div class="form-group">
                        <label>Contraseña actual</label>
                        <input class="form-control" type="password" name="password" pattern="[A-Za-z0-9]" size="40"
                               minlength="6" maxlength="40" required>
                        <div class="invalid-feedback">
                            Contraseña requerida
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Contraseña nueva</label>
                        <input class="form-control" type="password" name="password_nueva" pattern="[A-Za-z0-9]"
                               size="40" minlength="6" maxlength="40"
                               required>
                        <div class="invalid-feedback">
                            Contraseña requerida
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Repetir nueva contraseña</label>
                        <input class="form-control" type="password" name="password_repetida" pattern="[A-Za-z0-9]"
                               size="40" minlength="6" maxlength="40"
                               required>
                        <div class="invalid-feedback">
                            Contraseña requerida
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary" id="btn_edit">Editar <i class="fa fa-edit"></i>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
