<nav class="navbar navbar-expand-lg navbar-light bg-light navBarRedSocial">
  <a class="navbar-brand" href="#">Red Social</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0 justify-content-end col-lg-8" action="/search" method="GET">
        <div class="col-lg-6">
            <input class="form-control mr-sm-2" style="width:100%" type="search" name="friend" placeholder="Buscar amigos ..." aria-label="Search">
        </div>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="btn btn-warning" href="/requests" data-toggle="tooltip" title="Solicitudes de amistad pendientes!">Solicitudes<span class="badge badge-pill badge-light ml-1">{{session['request_number']}}</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menú
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/profile?user={{session['user_logged']}}">Perfil</a>
          <a class="dropdown-item" href="/editarDatos">Editar Datos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/">Cerrar Sesión</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
