{% extends "layout.html" %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <h1 class="h3 mb-2">Perfil</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Detalles Perfil</h5>
                    </div>
                    <div class="card-body text-center">
                        <img src="{{ user.foto }}" class="img-fluid foto_perfil" width="128" height="128">
                        <h4 class="card-title mb-0">{{ user.nombres }} {{ user.apellidos }}</h4>
                        <div class="text-muted mb-2">Usuario de la Red Social</div>
                    </div>
                </div>
                <div class="d-flex justify-content-center pb-2">
                    {% if not propio_perfil %}
                        {% if estado_amistad == 2 %}
                            <button type="button" class="btn btn-success btn-sm" disabled>Actualmente amigos</button>
                        {% elif estado_amistad == 1 %}
                            <button type="button" class="btn btn-info btn-sm" disabled><i class="fas fa-clock"></i>
                                Invitación pendiente
                            </button>
                        {% elif estado_amistad == 5 %}
                            {#<button type="button" class="btn btn-primary btn-sm mr-2">Aceptar</button>
                            <button type="button" class="btn btn-danger btn-sm">Rechazar</button>#}
                        {% else %}
                            <form action="/invite/{{ user.id }}" method="post">
                                <button type="submit" class="btn btn-primary btn-sm">Agregar amigo</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>

                <div class="tab-pane fade in active show" id="profile-friends">
                    <h4 class="m-t-0 m-b-20">Lista de amigos
                        <small>({{ amigos|length }})</small>
                    </h4>
                    {% for amigo in amigos %}
                        <div class="row row-space-2">
                            <div class="col-md-12 m-b-2">
                                <div class="p-10 bg-white">
                                    <div class="media media-xs overflow-visible">
                                        <a class="media-left" href="/profile?user={{ amigo.id }}">
                                            <img src="{{ amigo.foto }}" alt=""
                                                 class="media-object img-circle">
                                        </a>
                                        <div class="media-body">
                                            <b class="text-inverse">{{ amigo.nombres }} {{ amigo.apellidos }}</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

            <div class="col-md-8 ">
                {% if propio_perfil or estado_amistad == 2 %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Nueva Publicación</h5>
                        </div>
                        <div class="card-body h-100">
                            <form action="/post_comment/{{ user.id }}" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                <textarea name="texto_publicacion" class="form-control rounded-1"
                                          placeholder="Escribe un comentario ..." id="contenidoComentario"
                                          rows="2"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                                        <!-- image-preview-filename input [CUT FROM HERE]-->
                                        <div class="input-group image-preview">
                                            <input type="text" class="form-control image-preview-filename"
                                                   disabled="disabled">
                                            <!-- don't give a name === doesn't send on POST/GET -->
                                            <span class="input-group-btn">
                                                <!-- image-preview-clear button -->
                                                <button type="button" class="btn btn-default image-preview-clear"
                                                        style="display:none;">
                                                    <i class="fas fa-minus-circle"></i> Limpiar
                                                </button>
                                                <!-- image-preview-input -->
                                                <div class="btn btn-default image-preview-input">
                                                    <span class="glyphicon glyphicon-folder-open"></span>
                                                    <span class="image-preview-input-title fa fa-image"> Buscar</span>
                                                    <input type="file" accept="image/bmp" name="imagenComentario" id="inptImagenComentario" /> <!-- rename it -->
                                                </div>
                                                <!-- Effects -->
                                                <select class="form-control image-preview-effects" name="efectoImagen"
                                                        id="slctEfectoImagen" style="display:none;">
                                                  <option value="1">Blanco y negro</option>
                                                  <option value="2">Foto a arte</option>
                                                  <option value="3">Fondo de textura</option>
                                                  <option value="4">Sin Filtro</option>
                                                </select>
                                            </span>
                                        </div><!-- /input-group image-preview [TO HERE]-->
                                    </div>
                                    <div class="col-md-6 d-flex justify-content-end media-object pull-left" style="height: 100%">

                                        <button type="submit" class="btn btn-primary btn-sm "><i
                                                class="fa fa-share"></i> Publicar
                                        </button>
                                    </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Actividades</h5>
                    </div>
                    <div class="card-body h-100">

                        {% for c in comentarios %}

                            <div class="media">
                                <a href="/profile?user={{ c.u_postea }}">
                                    <img src="{{ c.foto }}" width="36" height="36" class="rounded-circle mr-2">
                                </a>
                                <div class="media-body">
                                    <small class="float-right text-navy">{{ c.pretty_date }}</small>
                                    <strong>{{ c.nombres }} {{ c.apellidos }}</strong>
                                    {% if c.u_postea != user.id %}
                                        publicó en el perfil de
                                        <strong>{{ user.nombres }} {{ user.apellidos }}</strong>
                                        <br>
                                        <small class="text-muted">{{ c.fecha }}</small>
                                        <div class="border text-sm text-muted p-2 mt-1">
                                            {{ c.texto }}
                                            {% if c.imagen %}
                                                <br>
                                                <img src="{{ c.imagen }}"
                                                     class="img-fluid imagen_muro rounded mx-auto d-block"
                                                     width="128"
                                                     height="128">
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        {{ c.texto }}
                                        <br>
                                        <small class="text-muted">{{ c.fecha }}</small>
                                        <br>
                                        {% if c.imagen %}
                                            <img src="{{ c.imagen }}"
                                                 class="img-fluid imagen_muro rounded mx-auto d-block" width="128"
                                                 height="128">
                                        {% endif %}
                                    {% endif %}
                                    {% for sub_c in c.sub_comentarios %}
                                        <div class="media mt-3">
                                            <a class="pr-3" href="/profile?user={{ sub_c.u_postea }}">
                                                <img src="{{ sub_c.foto }}" width="36" height="36"
                                                     class="rounded-circle mr-2">
                                            </a>
                                            <div class="media-body">
                                                <strong>{{ sub_c.nombres }} {{ sub_c.apellidos }}</strong> {{ sub_c.texto }}
                                                <br>
                                                <small class="text-muted">{{ sub_c.fecha }}</small>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% if propio_perfil or estado_amistad == 2 %}
                                        <div class="comment-meta">
                                            <div class="d-flex justify-content-end">
                                                {% if propio_perfil %}
                                                    <span><a href="/delete_commmet/{{ c.id }}"
                                                             style="margin: 0px 10px 0px 3px;">Eliminar <i
                                                            class="fas fa-times"></i></a></span>
                                                {% endif %}
                                                <span>
                                                    <a class="" role="button" data-toggle="collapse"
                                                       href="#replyCommentT{{ c.id }}" aria-expanded="false"
                                                       aria-controls="collapseExample"> Responder <i
                                                            class="fas fa-reply"></i></a>
                                                    </span>

                                            </div>
                                            <div class="collapse" id="replyCommentT{{ c.id }}">
                                                <form action="/reply_comment/{{ c.id }}" method="POST">
                                                    <div class="form-group">
                                                        <textarea name="comment" placeholder="Tu comentario ..."
                                                                  class="form-control" rows="3"></textarea>
                                                    </div>
                                                    <div class="d-flex justify-content-end">
                                                        <button type="submit" class="btn btn-warning btn-sm ">Enviar
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <br>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
