{% extends "layout.html" %}

{% block body %}
    <div class="container">

    <div class="row">
        <div class="col-md-3">
             <h1 class="h3 mb-2">Profile</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 ">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title mb-0">Detalles Perfil</h5>
                </div>
                <div class="card-body text-center">
                    <img src="{{ user.foto }}" class="img-fluid foto_perfil" width="128" height="128">
                    <h4 class="card-title mb-0">{{ user.nombres }} {{ user.apellidos }}</h4>
                    <div class="text-muted mb-2">Usuario de la Red Social</div>
                </div>
            </div>
        </div>

        <div class="col-md-8 ">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Nueva Publicación</h5>
                </div>
                <div class="card-body h-100">
                    <form action="/post_comment/{{ user.id }}" method="POST">
                    <div class="form-group">
                        <textarea name="texto_publicacion" class="form-control rounded-1" placeholder="Escribe un comentario ..." id="exampleFormControlTextarea1" rows="2"></textarea>
                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary btn-sm ">Publicar</button>
                    </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Actividades</h5>
                </div>
                <div class="card-body h-100">

                    {% for c in comentarios %}

                        <div class="media">
                            <img src="{{ c.foto }}" width="36" height="36" class="rounded-circle mr-2">
                            {% if c.u_postea == user.id %}
                                <div class="media-body">
                                    <small class="float-right text-navy">5m ago</small>
                                    <strong>{{ c.nombres }} {{ c.apellidos }}</strong>  {{ c.texto }}
                                    <br>
                                    <small class="text-muted">{{ c.fecha }}</small>
                                    <br>
                                </div>
                            {% else %}
                                <div class="media-body">
                                    <small class="float-right text-navy">30m ago</small>
                                    <strong>{{ c.nombres }} {{ c.apellidos }}</strong> posted something on <strong>{{ user.nombres }} {{ user.apellidos }}</strong>'s timeline
                                    <br>
                                    <small class="text-muted">{{ c.fecha }}</small>
                                    <div class="border text-sm text-muted p-2 mt-1">
                                        {{ c.texto }}
                                    </div>

                                </div>
                            {% endif %}

                        </div>
                        <hr>

                    {% endfor %}


                    <div class="media">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="36" height="36" class="rounded-circle mr-2" alt="Kathy Davis">
                        <div class="media-body">
                            <small class="float-right text-navy">5m ago</small>
                            <strong>Kathy Davis</strong> started following <strong>Marie Salter</strong>
                            <br>
                            <small class="text-muted">Today 7:51 pm</small>
                            <br>

                        </div>
                    </div>

                    <hr>
                    <div class="media">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" width="36" height="36" class="rounded-circle mr-2" alt="Andrew Jones">
                        <div class="media-body">
                            <small class="float-right text-navy">30m ago</small>
                            <strong>Andrew Jones</strong> posted something on <strong>Marie Salter</strong>'s timeline
                            <br>
                            <small class="text-muted">Today 7:21 pm</small>

                            <div class="border text-sm text-muted p-2 mt-1">
                                Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
                            </div>

                            <a href="#" class="btn btn-sm btn-danger mt-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart feather-sm">
                                    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                </svg> Like</a>
                        </div>
                    </div>

                    <hr>
                    <div class="media">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="36" height="36" class="rounded-circle mr-2" alt="Marie Salter">
                        <div class="media-body">
                            <small class="float-right text-navy">1h ago</small>
                            <strong>Marie Salter</strong> posted a new blog
                            <br>

                            <small class="text-muted">Today 6:35 pm</small>
                        </div>
                    </div>

                    <hr>
                    <div class="media">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="36" height="36" class="rounded-circle mr-2" alt="John Smith">
                        <div class="media-body">
                            <small class="float-right text-navy">3h ago</small>
                            <strong>John Smith</strong> posted two photos on <strong>Marie Salter</strong>'s timeline
                            <br>
                            <small class="text-muted">Today 5:12 pm</small>

                            <div class="row no-gutters mt-1">
                                <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-fluid pr-2" alt="Unsplash">
                                </div>
                                <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-fluid pr-2" alt="Unsplash">
                                </div>
                            </div>

                            <a href="#" class="btn btn-sm btn-danger mt-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart feather-sm">
                                    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                </svg> Like</a>
                        </div>
                    </div>

                    <hr>
                    <div class="media">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="36" height="36" class="rounded-circle mr-2" alt="John Smith">
                        <div class="media-body">
                            <small class="float-right text-navy">1d ago</small>
                            <strong>John Smith</strong> started following <strong>Marie Salter</strong>
                            <br>
                            <small class="text-muted">Yesterday 3:12 pm</small>

                            <div class="media mt-1">
                                <a class="pr-3" href="#">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="36" height="36" class="rounded-circle mr-2" alt="Marie Salter">
                                </a>
                                <div class="media-body">
                                    <div class="border text-sm text-muted p-2 mt-1">
                                        Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="media">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="36" height="36" class="rounded-circle mr-2" alt="Marie Salter">
                        <div class="media-body">
                            <small class="float-right text-navy">1d ago</small>
                            <strong>Marie Salter</strong> posted a new blog
                            <br>
                            <small class="text-muted">Yesterday 2:43 pm</small>
                        </div>
                    </div>

                    <hr>
                    <div class="media">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" width="36" height="36" class="rounded-circle mr-2" alt="Andrew Jones">
                        <div class="media-body">
                            <small class="float-right text-navy">1d ago</small>
                            <strong>Andrew Jones</strong> started following <strong>Marie Salter</strong>
                            <br>
                            <small class="text-muted">Yesterdag 1:51 pm</small>
                        </div>
                    </div>

                    <hr>
                    <a href="#" class="btn btn-primary btn-block">Load more</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

{% endblock %}
