{% extends "layout.html" %}

{% block body %}
<div class="container">
    <h1 class="h3 mb-3">Listado de coincidencias</h1>
    <div class="row">
        <div class="col-md-8 col-centered">
            <div class="people-nearby">
                {% if friends %}
                    {% for friend in friends %}
                    <div class="nearby-user">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5 class="fiend-name">{{ friend.nombresCompletos }}</h5>
                                <p><b>Fecha Nacimiento:</b> {{ friend.fechaNacimiento }}</p>
                                <p><b>Sexo:</b> {{ friend.sexo }}</p>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                {% if friend.sonAmigos == False %}
                                <button class="btn btn-primary pull-right" style="margin-bottom:6px">Agregar Amigo</button>
                                {% endif %}
                                <a class="btn btn-success pull-right" href="/profile?user={{ friend.id }}">Ver Perfil</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="alert alert-warning">No se encontraron resultados!</div>
                {% endif %}

        </div>
    </div>
</div>

{% endblock %}
