{% extends "layout.html" %}

{% block body %}
<div class="container">
    <h1 class="h3 mb-3">Listado de coincidencias</h1>
    {% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div class="row">
        <div class="col-md-8 col-centered">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <b>{{ message }}</b>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-md-8 col-centered">
            <div class="people-nearby">
                {% if friends %}
                    {% for friend in friends %}
                    <div class="nearby-user">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img src="{{ friend.foto }}" class="foto_perfil_busqueda" width="128" height="128">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5 class="fiend-name">{{ friend.nombresCompletos }}</h5>
                                <p><b>Fecha Nacimiento:</b> {{ friend.fechaNacimiento }}</p>
                                <p><b>Sexo:</b> {{ friend.sexo }}</p>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                {% if friend.sonAmigos == False and friend.invitacionPendiente == False %}
                                <form action="/invite/{{ friend.id }}" method="post">
                                    <button class="btn btn-primary pull-right" style="margin-bottom:6px">Agregar <i class="fas fa-user-plus"></i> </button>
                                </form>
                                {% else %}
                                    {% if friend.invitacionPendiente %}
                                        <p class="text-danger">Invitación Pendiente</p>
                                    {% endif %}
                                {% endif %}
                                <a class="btn btn-success pull-right" href="/profile?user={{ friend.id }}">Ver Perfil <i class="fas fa-user-circle"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="alert alert-warning">No se encontraron resultados!</div>
                {% endif %}

        </div>
    </div>
</div>

{% endblock %}
